html {
    height: 100%;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: white;
    background-color: rgb(89,169,214);
}

div {
    display: flex;
}

h2, h3 {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

button {
    background-color: white;
    color: black;
    opacity: 0.5;
    color: black;
    border: 0px;
    border-radius: 30px;
    height: 50%;
    align-self: flex-end;
}

.searchResults {
    display: flex;
    flex: 0.9;
    flex-direction: column;
    justify-content: flex-start;
}

/* .isDay {
    background-color: rgb(89,169,214);
} */

.isNight {
    background-color: rgb(40, 28, 91);
}

#searchBar {
    flex: 0.1;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin: 1rem;
    color: white;
    font-size: 2rem;
}

::placeholder {
    color: white;
    opacity: 1;
}

form {
    display: flex;
    flex: 0.7;
}

#citySearch {
    flex: 1;
    background-color: transparent;
    border: 0px;
    border-bottom: 3px solid white;
    font-size: 1rem;
    padding-top: 0.5rem;
    color: white;
    height: 50%;
    align-self: flex-end;
}

#toggleMeasuringSystem {
    flex: 0.2;
}

#currentWeather {
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem 1rem
}

#location {
    flex-direction: column;
    align-items: center;
}

#location p {
    font-size: 1rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

#currentWeatherStatus {
    flex: 0.2;
    flex-direction: row;
    margin: 1em;
    justify-content: space-between;
}

#temperatures, #currentStatusContainer, #currentTemperatureContainer {
    flex-direction: column;
    justify-content: space-around;
}

#temperatures, #currentStatus {
    flex: 0.5;
}

#temperatures p, #currentStatus {
    margin-block-start: 0;
    margin-block-end: 0;
}

#timeContainer {
    justify-content: center;
}

#currentStatusIcon, #currentTemperatureContainer {
    flex: 0.48;
}